@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

header {
   background-color: #eee;
   display: flex;
   justify-content: space-between;
   padding: 10px 150px;
   position: fixed;
   z-index: 999;
   width: 100%;
}

.title {
   text-decoration: none;
   font-size: 30px;
   font-weight: 800;
   color: #76448a;
   transition: 0.7s;
}

.title:hover {
   color: #3a6cf4;
}

.nav {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.nav a {
   padding-left: 30px;
   font-size: 1.1em;
   text-decoration: none;
   font-weight: 400;
   color: #3a6cf4;
   text-align: center;
   transition: 0.7s;
}

.nav a:hover {
   color: #76448a;
   transform: scale(1.3);
}

.home {
   background: url("https://www.supermama.me/system/App/Entities/Article/images/000/100/095/watermarked/%D8%A3%D8%AD%D8%AF%D8%AB-%D9%85%D9%88%D8%B6%D8%A9-%D9%85%D9%84%D8%A7%D8%A8%D8%B3-%D8%B4%D8%AA%D8%A7%D8%A1.jpg") no-repeat;
   width: 100%;
   min-height: 100vh;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   background-position-y: 40px;
   /*عملت هنا بوزيشن*/
   position: relative;
}

/*ده سودو ود بدل اني اعمل ديف*/
.home:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background-color: rgba(14, 20, 32);
   opacity: 0.8; */

   /*اختار ده احسن*/
   background-image: linear-gradient(to right,
         rgba(14, 20, 32) 5%,
         rgba(12, 17, 27, 0.4) 100%);
}

.home-content {
   margin-bottom: 166px;
   margin-left: 100px;
   /*هنا عشان الكلام يبقي فوق الطبقة الي انا عملتها*/
   position: relative;
   z-index: 3;
}

.welcome {
   color: white;
   font-size: 30px;
   font-weight: 600;
   padding: 15px;
}

.home span {
   display: block;
   margin-left: 121px;
   margin-top: 22px;
   font-size: 60px;
   font-weight: bold;
   color: #3a6cf4cb;
   cursor: pointer;
   transition: 0.7s;
}

.home span:hover {
   color: #76448adc;
}

.home a {
   display: inline-block;
   text-decoration: none;
   font-size: 20px;
   color: white;
   background-color: #76448ab7;
   border-radius: 15px;
   padding: 15px 20px;
   margin-top: 100px;
   margin-left: 100px;
   transition: 0.6s;
}

.home a:hover {
   transform: scale(1.1);
   background-color: #76448ab7;
}

.shop {
   background-color: white;
}

.shop-title {
   text-align: center;
   padding-top: 70px;
   padding-bottom: 40px;
   font-size: 35px;
   color: #3a6cf4cb;
}

.shop-cards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.card-background img {
   width: 100%;
}

.card {
   min-height: 250px;
   width: 286px;
   overflow: hidden;
   border: 1px solid white;
   border: black 0.8px solid;
   border-radius: 15px;
   display: flex;
   align-items: center;
   flex-direction: column;
   transition: 0.7s;
   margin: 20px;
}

.card:hover {
   transform: scale(1.1);
   opacity: 85%;
   border-color: blueviolet;
}

.card h3 {
   text-align: center;
   color: #3a6cf4cb;
   font-weight: 500;
}

.card span {
   padding-top: 20px;
   font-weight: 700;
   color: black;
}